[Desktop Entry]
Type=Application
Name=Easy Effects
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=easyeffects com.github.wwmm.easyeffects
Icon=com.github.wwmm.easyeffects
